@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Patrick+Hand&family=Poppins:wght@300;500;600;700;800&family=Teko:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: Teko, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e2828;
  background-image: url("images/background.jpg");
  backdrop-filter: blur(10px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  height: 150px;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 800;
  user-select: none;
}

#timer {
  color: #bb0000;
  font-size: 3rem;
  font-weight: 500;
  user-select: none;
}

.map {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(3, 200px);
  grid-gap: 1rem;
}

.room {
  border: 5px solid;
  border-radius: 0.75rem;
  background-color: #f4f4f4;
  position: relative;
}

#leftHallway {
  grid-area: 2 / 1 / 4 / 2;
  background-color: #202020;
  position: relative;
}
#rightHallway {
  grid-area: 2 / 4 / 4 / 5;
  background-color: #202020;
}
#livingRoom {
  grid-area: 1 / 1 / 2 / 5;
  background-color: #202020;
}
#bedRoom {
  grid-area: 3 / 2 / 4 / 4;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(5, 20%);
  place-items: center;
}

.interactive {
  color: #f65151;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
}

#leftDoor {
  grid-area: 3 / 1 / 4 / 2;
}
#rightDoor {
  grid-area: 3 / -1 / 4 / -2;
}
#closet {
  grid-area: 1 / 3 / 2 / 4;
  font-size: 0.96rem;
}
#bed {
  grid-area: -1 / 3 / -2 / 4;
  font-size: 0.96rem;
}
#base {
  color: #3a4f50;
  grid-area: 3 / 3 / 4 / 4;
  font-weight: 600;
  font-size: 1.25rem;
  visibility: hidden;
}
.char {
  border: 3px solid;
  width: 15px;
  height: 25px;
  position: relative;
}
#player {
  background-color: #a2b2ee;
  grid-area: 3 / 3 / 4 / 4;
}
#bonnie {
  background-color: #00219a;
  position: absolute;
  top: 50px;
  right: 85px;
  visibility: hidden;
}
#chica {
  background-color: #fae900;
  position: absolute;
  top: 50px;
  right: 85px;
  visibility: hidden;
}

.display-text {
  user-select: none;
  font-weight: 600;
  font-size: 1.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -130%);
}

.aButton {
  visibility: hidden;
  position: absolute;
  font-size: 1.25rem;
  padding: 5px;
  bottom: 5px;
  border-radius: 10px;
  user-select: none;
}

#leftShockButton,
#rightFlashButton {
  left: 10px;
}
#rightShockButton,
#leftFlashButton {
  right: 10px;
}
