body {
  background-color: #000;
  color: #fff;
  font-family: "Arial", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
img {
  width: 500px;
}

.game-over-image img {
  width: 300px;
  height: auto;
  animation: fade-in 1s ease-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.game-over-message p {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.game-over-buttons {
  display: flex;
  gap: 1rem;
  animation: slide-up 1s ease-out;
}

@keyframes slide-up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.retryButton,
.quitButton {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: #ff0000;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.retryButton:hover,
.quitButton:hover {
  background-color: #b30000;
}

.retryButton:focus,
.quitButton:focus {
  outline: none;
}
